<!-- templates/submissions.html -->
{% extends 'base.html' %}
{% block title %}All Submissions{% endblock %}
{% block content %}
    <h1>All Forms</h1>
    {% for submission in submissions %}
        <a href="{{ url_for('view_submission', submission_id=submission.id) }}" class="box-link">
            <div class="box">
                <h2>{{ submission.title }}</h2>
                <p>{{ submission.content[:100] }}...</p>
                <small>By: {{ 'Anonymous' if submission.is_anonymous else submission.username }}</small>
            </div>
        </a>
    {% endfor %}
{% endblock %}
